# Laravel
/vendor
/public/storage
/storage/*.key
/bootstrap/cache/*.php
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.vagrant
.env
.env.backup
.env.production
.phpactor.json
auth.json

# Sail / Docker
docker-compose.override.yml

# Node / React / Vite
/node_modules
/frontend/node_modules
/frontend/dist
/frontend/.vite
npm-debug.log
yarn-error.log

# OS & Editors
/.vscode
/.idea
.DS_Store
Thumbs.db

